*:focus{
    outline: none;
}

body {
    margin: 0;
    background-color: brown;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: larger;
}

#canvas {
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}

canvas {
    margin: auto;
}

#title {
    text-align: center;
    margin-top: 25px;
}

#buttons {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
}
#buttons button {
    height: 28px;
    padding-left: 20px;
    padding-right: 20px;
}

#niveis {
    margin-top: 20px;
    text-align: center;
}
#niveis button {
    height: 28px;
    width: 40px;
    font-size: large;
}

#controlos{
    text-align: center;
    margin-top: 30px;
}
#setas {
    display: grid;
    width: 270px;
    height: 270px;
    margin: auto;
}
#setas button {
    height:90px;
    width: 90px;
}
#up {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
#left {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
#right {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
#down {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}