body {
    margin: 0;
    background-color: brown;
    font-family: Arial, Helvetica, sans-serif;
}

#canvas {
    text-align: center;
}

canvas {
    margin: auto;
}

#title {
    text-align: center;
    color: white;
    margin-top: 25px;
}

#buttons {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
}
#buttons button {
    height: 28px;
    padding-left: 20px;
    padding-right: 20px;
}